* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    background-image: url(./bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 22px; */
    padding: 9px;
}
.left img {
    width: 67px;
    /* filter: invert(100%); */
    position: relative;
    left: 26px;
    border-radius: 34px;
}
.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}
.mid {
    flex-grow: 1;
    text-align: center;
}
.navbar {
    display: inline-block;
}
.navbar li {
    display: inline-block;
    font-size: 25px;
}
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 0 23px;
}
.navbar li a:hover {
    text-decoration: underline;
    color: rgb(6, 113, 244);
}
.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(31, 30, 30);
    color: rgb(57, 124, 207);
}
.container {
    border: 1px solid white;
    margin: auto;
    padding: 29px;
    width: 50%;
    border-radius: 28px;
    background-color: rgba(0, 0, 0, 0.7);
}
.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    margin: 11px 0;
    font-size: 25px;
    border-radius: 8px;
}
.container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.container button {
    display: block;
    width: 80%;
    margin: 20px auto;
}
#cont marquee {
    font-size: 40px;
    color: rgba(202, 20, 20, 0.8);
    padding: 10px;
    border-radius: 10px;
    animation: scroll 10s   infinite right ;
}
#cont marquee:hover {
    animation-play-state: paused;
}
@keyframes scroll{
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

